@{
    ViewBag.Title = "Home";
}
<h1 class="page-header">Welcome to CPH team!</h1>
<p>Meet us on our @Html.ActionLink("team page", "Index", "Team") or see our @Html.ActionLink("projects", "Index", "Projects")</p>