@model Cph.Data.Team

@{
    ViewBag.Title = "Team";
}
<h1 class="page-header">@Model.Name</h1>
<div class="row">
    @foreach(var member in Model.Members)
    {
        @Html.DisplayFor(m => member)
    }
</div>