/* Common */
h1 {
    font-size: 50px;
}
.page-header {
    margin-bottom: 40px;
}

#content {
    min-height: 600px;
}

a:hover [class^="icon-"],
a:hover [class*=" icon-"] {
    text-decoration: none;
}

/* Team page */
.team-member {
    margin-bottom: 60px;
}
.team-member .mate-position {
    font-style: italic;
}
.team-member .icon-stackexchange {
    position: relative;
    top: -2px;
    font-size: 1.8em;
}