/* Common */
h1 {
    font-size: 50px;
}

a:hover [class^="icon-"],
a:hover [class*=" icon-"] {
    text-decoration: none;
}

.page-header {
    margin-bottom: 40px;
}

.header-inline {
    display: inline-block;
    margin: 0;
}

#content {
    min-height: 600px;
}

.header-action-link {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 5px;
    margin-left: 10px;
}

/* Team page */
.team-member {
    margin-bottom: 60px;
}
.team-member .mate-position {
    font-style: italic;
}
.team-member .icon-stackexchange {
    position: relative;
    top: -2px;
    font-size: 1.8em;
}