@model Cph.Data.Project
@{
    ViewBag.Title = "Edit";
}
<h1 class="page-header">Edit project</h1>
<div id="project-edit" class="row">
    @{Html.RenderPartial("EditForm");}
</div>
    
@section scripts {
    <script src="~/signalr/hubs"></script>
    <script>
        var locker = new cph.Locker('@Model.GetEntityId()', {
            $editBox: $('#project-edit'),
            ajaxUrl: '@Url.Action("EditForm", new {name = Model.Name})'
        });
    </script>
}